.item{
  display:block;
}

.item-label{

  color:darkblue;
  opacity:0.4;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
  margin-bottom: 0.25rem;
}

.item-value{
color:darkblue;
line-height: 1.125rem;
margin-bottom: 1rem;
word-break: break-all;
}
