<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<app-header [items]="menuItems"></app-header>

<app-field></app-field>


<app-collapsible label="Resumo" desc="teste">
  <app-item [items]="collapsibleItems "></app-item>
</app-collapsible>
<app-collapsible label="Resumo" desc="teste">
  <app-item [items]="collapsibleItems "></app-item>
</app-collapsible>
<app-collapsible label="Resumo" desc="teste">
  <app-item [items]="collapsibleItems "></app-item>
</app-collapsible>
<div style="align-content: center"><app-button label="Button teste1"></app-button>
</div>
