<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


Header com menu dinâmico
<app-header [items]="menuItems"></app-header>
Field de preenchimento de formulário
<app-field></app-field>

collapsible diNãmico
<app-collapsible label="Resumo" desc="teste">
  <app-item [items]="collapsibleItems "></app-item>
</app-collapsible>
<app-collapsible label="Resumo" desc="teste">
  <app-item [items]="collapsibleItems "></app-item>
</app-collapsible>
<app-collapsible label="Resumo" desc="teste">
  <app-item [items]="collapsibleItems "></app-item>
</app-collapsible>


botão
<div style="align-content: center">
  <app-button label="Button teste1"></app-button>
</div>

Pipe angular
{{"21973201988"| phone}}

<br>
<!--ngx-mask-npm-->
Máscaras para inputs
<br>
<input type='text' prefix="R$" mask="000.000.00">
<input type='text' sufix="KG" mask="000">
<input mask="(000) 0000-0000" prefix="+55" [showMaskTyped]="true">

<br>


Radio Button (selected value: {{field}})
{{field}}
<p>&nbsp;</p>
<app-field-radio label="button 1" name="radio" value="Um" [(model)]="field"></app-field-radio>
<app-field-radio label="button 2" name="radio" value="Dois" [(model)]="field"></app-field-radio>
<app-field-radio label="button 3" name="radio" value="Tres" [(model)]="field" [disabled]="true"></app-field-radio>
